/*Обнулення, звертаємось до всього документа*/
/*обнуляє відступи та границі*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

/*Змінює підрахунок ширини блока так, щоб було зручніше верстати*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

/*Прибирає лінії обводки в деяких браузерах,*/
:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

/*Робимо ці елементи блочними*/
nav,
footer,
header,
aside {
	display: block;
}

/*Урівнюємо параметри в різних браузерах*/
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
}

/*Змушує елементи форми наслідувати сімейство шрифтів*/
input,
button,
textarea {
	font-family: inherit;
}

/*Прибирає деякі особливості в різних браузерах, чистить стилі маркованих списків*/
input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/*Обнуляє заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}